<h2>Welcome To EchoGlobal Commodities Tracking and Managment Application </h2>

  <%= form_tag(pi_data_path) do %>
    <div class="input_field">
      <%= label_tag "Contributor Name" %><br>
      <%= text_field_tag :contributor_name %><br>
    </div>
      <%= submit_tag "Submit" %><br>
  <% end %>
