
<body>
	<div id="main-container" class="container">
		
		<div class="row">
			<div class="col-xs-9">
				<nav class="navbar navbar-default" role="navigation">
					<%= link_to 'Temperature', temp_convert_path %>
					<%= link_to "Distances", (distance_convert_path) %>
					<%= link_to "Data Tests!!", (number_test_path) %>
				</nav>
			</div>	
			<div id="main-content" class="col-xs-9">
				<h1>Welcome to FunNum</h1>
				<p>Please select which measurments you with to convert</p>
			</div>
		</div>
	</div>
</body>