
<body>
	<div id="main-container" class="container">
		
		<div class="row">
			<div class="col-xs-9">
				<nav class="navbar navbar-default" role="navigation">
					<%= link_to 'Temperature', temp_convert_path, class: 'btn btn-success' %>
					<%= link_to "Distances", distance_convert_path, class: 'btn btn-success' %>
					<%= link_to "Data Tests!!", number_test_path, class: 'btn btn-success' %>
				</nav>
			</div>	
			<div id="main-content" class="col-xs-9">
				<h1>Welcome to FunNum</h1>
				<p>Which Nums do you want to crunch</p>
			</div>
		</div>
	</div>
</body>