<div class ="title">
	<h1>Welcome to FunNum</h1>
</div>
		<p>Please select which measurments you with to convert</p>
			<ul>
				<li><%= link_to "Temperature", (temp_convert_path) %></li>
				<li><%= link_to "Distances", (distance_convert_path) %></li>
			</ul>